<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style1.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="box">
                <h1>Add a Book</h1>
                <form action="/add_book" method="POST">
                    {% csrf_token %}
                    <label class="space" for="title">Title</label>
                    <input id="title" type="text" name="title"><br>
                    <label class="space" for="description">Description</label>
                    <input class="space" type="text" name="desc"><br>
                    <input class="space" id="button" type="submit" value="Add">
                </form>
            </div>
            <div class="box">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                    {% for book in  all_books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td><a href="/books/{{book.id}}">View</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </body>
</html>